body {
	padding: 0 60px;
}

.logo {
	width: 100px;
	padding: 0px 0px 20px 0px;
}

.tabla {
	width: 100%;
	display: inline-table;
	table-layout: fixed;
	font-family: 'Lato-Regular';
}
.tabla tr {
	width:100%;
}

.header {
	color:#000000;	
	padding: 16px;
	width: 100%;
	font-family: 'lato-regular';
}
.header p {
	padding: 5px 0px 0px 0px;
	margin: 0px;
	font-family: 'lato-regular';
}
.importe {
	font-size: 30px;
	font-family: 'lato-regular';
}
.qr {	
	color:#000000;
	font-size: 14px;
	padding:0px 20px 0px 20px;
	margin:0;
	text-align: left;
	background-color: #f8f8f8;
}

img.qr-codigo {
	width: 100px;
	padding: 10px 30px 10px 0px;
}
.codigo {
	width: 200px;
	color: #ffffff;
	padding: 5px 5px 5px 10px;
	margin-bottom: 0px;
	background-color: #000000;
	word-wrap: break-word;
	font-family: 'Lato-Regular';
}


.tabla {
	width: 100%;
  	border-collapse: collapse;  	
}
.tabla, .tabla td {
	 border: 1px solid #c0c0c0;
}



.key {
	color: #b1b1b1;
	margin-bottom: 5px;
	font-family: 'Calibri';
}


.key_value {
	
}

.key_desc {
	
}