body {
	padding: 0 60px;
	font-family: 'SantanderTextW05-Regular';
}

.logo {
	width: 123px;
	padding: 0px 0px 20px 0px;
}

.tabla {
	width: 100%;
	display: inline-table;	
	table-layout: fixed;

}
.tabla tr {
	width:100%;
}

.header {
	color:#000000;	
	padding: 16px 24px 8px 24px;
	width: 100%;
}
.header p {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'SantanderTextW05-Bold';
	color: #25303b;
}
.header .importe {
	font-size: 28px;
}
.qr {	
	color:#4a4a4a;
	font-size: 12px;
	padding:0px 20px 0px 20px;
	margin:0;
	text-align: left;
	background-color: #f4f6f7;
	padding: 14px 23px 14px 23px;
	font-family: 'SantanderTextW05-Regular';
}
.qr strong {
	font-family: 'SantanderHeadlineW05-Bold';
}

img.qr-codigo {
	width: 101px;
	margin-right: 32px;
}
.codigo {
	width: 200px;
	color: #ffffff;
	padding: 5px 5px 5px 10px;
	margin-bottom: 0px;
	background-color: #000000;
	word-wrap: break-word;
	font-family: 'SantanderTextW05-Bold';
	font-size: 12px;
	color: red;
}
.codigo .bigger {
	font-size: 16px;
}

.tabla {
	width: 100%;
  	border-collapse: collapse;  	
}
.tabla, .tabla td {
	 border: 1px solid #dee3e6;
}

.title-boxes td{
	padding: 30px 15px 15px 15px;
}

.title-boxes td p{
	margin:0;
	font-weight: bold;
}

.boxes.gray-background {
	background-color: #f8f8f8;
}

.boxes td {
	padding: 16px;
}

.boxes td p {
	margin: 0;
}

.boxes .key {
	color: #b1b1b1;
	margin-bottom: 5px;
}
.boxes .value {
	font-weight: bold;
}
.boxes .sub-value {
	margin-top: 5px;
}