body {
	padding: 0 60px;
	font-family: 'SantanderTextW05-Regular';
}

.logo {
	width: 123px;
	padding: 0px 0px 20px 0px;
}

.tabla {
	width: 100%;
	display: inline-table;	
	table-layout: fixed;

}
.tabla tr {
	width:100%;
	margin: 0px;
	padding: 0px;
}

.header {
	color:#000000;	
	padding: 16px 24px 8px 24px;
	width: 100%;
}
.header p {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'SantanderTextW05-Bold';
	color: #25303b;
}
.header .importe {
	font-size: 28px;
}
.qr {	
	color:#4a4a4a;
	font-size: 12px;
	margin:0px;
	text-align: left;
	background-color: #f4f6f7;
	padding: 0px 0px 0px 23px;	
}
img.qr-codigo {
	width: 101px;
	margin-right: 32px;
}

.qr tr p.texto {
	font-weight: 300;	
	margin-top: 9px;
}
.codigo {
	width: 148px;
	color: #ffffff;
	padding: 6px 12px 6px 10px;
	margin-top: 18px;
	margin-bottom: 0px;
	background-color: #000000;
	word-wrap: break-word;
	font-family: 'SantanderTextW05-Bold';
	font-size: 12px;
}
p .bigger {
	font-size: 16px;
	margin-left: 6px;
}


.tabla {
	width: 100%;
  	border-collapse: collapse;  	
}
.tabla, .tabla td {
	 border: 1px solid #dee3e6;
}

.title-boxes td{
	padding: 18px 24px 8px 24px;
}

.title-boxes td p{
	margin:0;
	font-family: 'SantanderTextW05-Bold';
	font-size: 12px;
	line-height: 20px;
	color: #25303b;
}

.boxes.gray-background {
	background-color: #f4f6f7;
}

.boxes td {
	padding: 8px 24px 16px 24px;
}

.boxes td p {
	margin: 0;
}
.boxes img {
	margin-right: 6px;
	width: 22px;
	padding-bottom: 6px;
	margin-bottom: -11px;
}

.boxes .key {
	color: #6f7779;
	margin-bottom: 4px;
	font-size: 12px;
	font-family: 'SantanderTextW05-Regular';
	line-height: 20px;
}
.boxes .value {
	font-family: 'SantanderTextW05-Bold';
	font-size: 12px;
	line-height: 15.8px;
	color: #25303b;
}
.boxes .sub-value {
	margin-top: 5px;
	font-size:11px;
	line-height: 16px;
	font-family: 'SantanderTextW05-Italic';
	color: #444;
}
.boxes.lastBoxes td {
	padding-bottom: 24px;
}

.tabla-pie {
	font-family: 'SantanderTextW05-Regular';
 	font-size: 10px;
  	line-height: 16px;
  	color: #444444;
  	margin-top: 8px;
}