<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/templatePDF.css}"/>
<meta charset="UTF-8"/>
</head>
<body>
	<div>
      <img th:src="@{/images/logo.jpg}" src="../public/images/logo.jpg" class="logo" title="logo" alt="Logo"/>      
    </div>
    
    
    <table class="tabla">
    		
    		<!--  HEADER -->
		  <tr>	  	
		  	<td colspan="3" class="header">
		  		<p>Retirada de efectivo en oficina de Correos</p>	
	  			<p class="importe">-250,00€</p>
	  		</td>
		  </tr>
		  		  <!--  BOXES -->
		  <tr class="boxes">
		  	<td>
	  			<p class="key">Cuenta origen:</p>
	  			<p class="value">Cuenta Zero 1|2|3</p>
	  		</td> 
    		<td>
    			<p class="key">Fecha de solicitud:</p>
	  			<p class="value">15/11/2019</p>
    		</td> 
	    	<td>
	    		<p class="key">Disponible hasta:</p>
	  			<p class="value">22/11/2019</p>
	    	</td>
		   </tr>
		   <tr class="boxes gray-background">
		  	<td>
	  			<p class="key">Cuenta origen:</p>
	  			<p class="value">Cuenta Zero 1|2|3</p>
	  		</td> 
    		<td>
    			<p class="key">Fecha de solicitud:</p>
	  			<p class="value">15/11/2019</p>
    		</td> 
	    	<td>
	    		<p class="key">Disponible hasta:</p>
	  			<p class="value">22/11/2019</p>
	    	</td>
		   </tr>
		  <!--  TITLE BOXES -->
		  <tr class="title-boxes">
  	  		<td colspan="3">
				<p>Datos del beneficiario</p>
			</td>
  	  	  </tr>
		  <!--  BOXES -->
		  <tr class="boxes">
		  	<td>
	  			<p class="key">Cuenta origen:</p>
	  			<p class="value">Cuenta Zero 1|2|3</p>
	  		</td> 
    		<td>
    			<p class="key">Fecha de solicitud:</p>
	  			<p class="value">15/11/2019</p>
    		</td> 
	    	<td>
	    		<p class="key">Disponible hasta:</p>
	  			<p class="value">22/11/2019</p>
	    	</td>
		   </tr>
		   <tr class="boxes gray-background">
		  	<td>
	  			<p class="key">Cuenta origen:</p>
	  			<p class="value">Cuenta Zero 1|2|3</p>
	  		</td> 
    		<td>
    			<p class="key">Fecha de solicitud:</p>
	  			<p class="value">15/11/2019</p>
    		</td> 
	    	<td>
	    		<p class="key">Disponible hasta:</p>
	  			<p class="value">22/11/2019</p>
	    	</td>
		   </tr>
	 
	  	  
  	  
	  	  
	  
	  	 

	
    </table>
    
    
	<!-- Pie -->
	<div id="footer" class="tabla-pie">	
		<p>Este justificante es provisional y carece de toda validez sin una autenticación explicita del banco.</p>
	</div>
	
</body>
</html>
