<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/templatePDF.css}"/>
<meta charset="UTF-8"/>
</head>
<body>
	<div>
      <img th:src="@{/images/logo.jpg}" src="../public/images/logo.jpg" class="logo" title="logo" alt="Logo"/>      
    </div>
    
    
    <table class="tabla">
    		
    		<!--  HEADER -->
		  <tr>	  	
		  	<td colspan="3" class="header">
		  		<p>Retirada de efectivo en oficina de Correos</p>	
	  			<p class="importe">-250,00€</p>
	  		</td>
		  </tr>
		  
		  <!--  QR -->
	      <tr>      	
		    <td colspan="3" class="qr">
	      		<th>	    
      				<img th:src="@{/images/qr-codigo.png}" src="../public/images/qr-codigo.png" class="qr-codigo" title="qr" alt="qr"/>
	      		</th>
	      		<th>
	      			<tr>
	      				<p class="codigo">Código: <span class="bigger"> 573346998</span></p>
	      			</tr>
	      			<tr>
	      				<p>Dispones de <strong>7 días naturales</strong> para ejecutar esta operación en una oficina de Correos. Tienes que presentar este Código QR e identificarte con un documento acreditativo.</p>
	      			</tr>
		    	</th>
		    </td>
		  </tr>
		  <!--  TITLE BOXES -->
		  <tr class="title-boxes">
  	  		<td colspan="3">
				<p>DATOS DEL BENEFICIARIO</p>
			</td>
  	  	  </tr>
		  <!--  BOXES -->
		  <tr class="boxes">
		  	<td>
	  			<p class="key">Cuenta origen:</p>
	  			<p class="value">Cuenta Zero 1|2|3</p>
	  		</td> 
    		<td>
    			<p class="key">Fecha de solicitud:</p>
	  			<p class="value">15/11/2019</p>
    		</td> 
	    	<td>
	    		<p class="key">Disponible hasta:</p>
	  			<p class="value">22/11/2019</p>
	    	</td>
		   </tr>
		   <tr class="boxes gray-background">
		  	<td>
	  			<p class="key">Cuenta origen:</p>
	  			<p class="value">Cuenta Zero 1|2|3</p>
	  		</td> 
    		<td>
    			<p class="key">Fecha de solicitud:</p>
	  			<p class="value">15/11/2019</p>
    		</td> 
	    	<td>
	    		<p class="key">Disponible hasta:</p>
	  			<p class="value">22/11/2019</p>
	    	</td>
		   </tr>
 		   <tr class="boxes">
  	  		<td colspan="3">
				<p class="key">
					<img width="22px" class="correos-icon" th:src="@{/images/correos.png}" src="../public/images/correos.png"/>
					<span>Oficina de Correos:</span>
				</p>
	  			<p class="value">En cualquiera del territorio español</p>
			</td>
  	  	   </tr>
  	  	   <tr class="boxes">
  	  		<td colspan="3">
				<p class="key">Comisión:</p>
	  			<p class="value">1,80€</p>
	  			<p class="sub-value">Esta comisión se cargará en cuenta, junto con el importe solicitado una vez el dinero. Serán gratuitos las dos primeras operaciones, bien de retirar a ingresar dinero en efectivo a débito, realizadas en un mes en oficinas de Correos situadas en un municipio en el que no haya una oficina ni un agente colaborador de Banco Santander. Puedes consultar estas oficinas en nuestro buscador.</p>
			</td>
  	  	   </tr>
	 
	  	  
  	  
	  	  
	  
	  	 

	
    </table>
    
    
	<!-- Pie -->
	<div id="footer" class="tabla-pie">	
		<p>Este justificante es provisional y carece de toda validez sin una autenticación explicita del banco.</p>
	</div>
	
</body>
</html>
