<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
	<div>
      <img th:src="@{/images/logo.jpg}" src="../public/images/logo.jpg" class="logo" title="logo" alt="Logo"/>      
    </div>
    
    
    <table class="tabla">
    		
    		<!--  HEADER -->
		  <tr>	  	
		  	<td colspan="3" class="header">
		  		<p>Retirada de efectivo en oficina de Correos</p>	
	  			<p class="importe">-250,00€</p>
	  		</td>
		  </tr>
		  
		  <!--  QR -->
	      <tr>      	
		    <td colspan="3" class="qr">
	      		<th>	    
      				<img th:src="@{/images/qr-codigo.png}" src="../public/images/qr-codigo.png" class="qr-codigo" title="qr" alt="qr"/>
	      		</th>
	      		<th>
	      			<tr>
	      				<p class="codigo">Código: 573346998</p>
	      			</tr>
	      			<tr>
	      				<p>Dispones de 7 días naturales para ejecutar esta operación en una oficina de Correos. Tienes que presentar este Código QR e identificarte con un documento acreditativo.</p>
	      			</tr>
		    	</th>
		    </td>
		  </tr>
		  
		  <!--  BOXES -->
		  <tr>
		  	<td>
	  			<p class="key">Cuenta origen:</p>
	  			<p>Cuenta Zero 1|2|3</p>
	  		</td> 
    		<td>
    			<p class="key">Cuenta origen:</p>
	  			<p>Cuenta Zero 1|2|3</p>
    		</td> 
	    	<td>
	    		<p class="key">Cuenta origen:</p>
	  			 <p>Cuenta Zero 1|2|3</p>
	    	</td>
		</tr>
		<tr>
		  	<td>
	  			<p class="key">Cuenta origen:</p>
	  			<p>Cuenta Zero 1|2|3</p>
	  		</td> 
    		<td>
    			<p class="key">Cuenta origen:</p>
	  			<p>Cuenta Zero 1|2|3</p>
    		</td> 
	    	<td>
	    		<p class="key">Cuenta origen:</p>
	  			 <p>Cuenta Zero 1|2|3</p>
	    	</td>
		</tr>
		<tr>
		  	<td>
	  			<p class="key">Cuenta origen:</p>
	  			<p>Cuenta Zero 1|2|3</p>
	  		</td> 
    		<td>
    			<p class="key">Cuenta origen:</p>
	  			<p>Cuenta Zero 1|2|3</p>
    		</td> 
	    	<td>
	    		<p class="key">Cuenta origen:</p>
	  			 <p>Cuenta Zero 1|2|3</p>
	    	</td>
		</tr>
  			
  			<!-- full box  -->
  			<tr>
	  	  		<td colspan="3">Deberia ocupar todo</td>
	  	  	</tr>
	 
	  	  
  	  
	  	  
	  
	  	 

	
    </table>
    
    
	<!-- Pie -->
	<div id="footer" class="tabla-pie">	
		<b>FOOTER</b>
	</div>
	
</body>
</html>
